@tailwind base;
@tailwind components;
@tailwind utilities;

[data-theme='light'] {
  --color-theme: #fed7aa;

  --color-primary-1: oklch(from var(--color-theme) calc(l - 0.3) c h);
  --color-primary-2: oklch(from var(--color-theme) calc(l - 0.4) c h);
  --color-primary-3: oklch(from var(--color-theme) calc(l - 0.5) c h);
}
[data-theme='dark'] {
  --color-theme: #431407;

  --color-primary-1: oklch(from var(--color-theme) calc(l + 0.3) c h);
  --color-primary-2: oklch(from var(--color-theme) calc(l + 0.4) c h);
  --color-primary-3: oklch(from var(--color-theme) calc(l + 0.5) c h);
}

:root {
  --color-highlight-1: oklch(from var(--color-theme) calc(l + 0.05) c h);
  --color-highlight-2: oklch(from var(--color-theme) calc(l + 0.1) c h);
  --color-highlight-3: oklch(from var(--color-theme) calc(l + 0.15) c h);

  scrollbar-color: var(--color-primary-1) transparent;
}

::selection {
  color: var(--color-primary-3);
  background-color: var(--color-highlight-3);
}

* {
  overflow-wrap: break-word;
}

/* cmdk */
[cmdk-group-heading] {
  @apply px-3 pb-2 pt-4 text-sm capitalize text-primary-1;
}

/* @tailwindcss/typography */
.prose > blockquote {
  border-color: var(--color-primary-1);
}
.prose > table tr,
.prose > table > thead {
  border-bottom-color: var(--color-primary-1);
}

/* rehype-highlight */
.hljs-comment {
  @apply text-primary-1;
}
